@import "../../scss/mixin.scss";

.bv-demo-page {
  .home-title {
    display: inline-block;
    text-align: center;
    font-size: 40px;
    margin: 80px 30px 50px;
    padding: 0 20px;
  }

  .bv-components-list {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .bv-components-item {
    margin: 0 20px;
    border-radius: 5px;
    background: #fff;
    // @include box-shadow(0 5px 20px 0 rgba(232, 232, 232, 0.5));
  }
}
